body {
    height: 100%;
    background: $black;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    line-height: 1.4;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
}

.row {
    max-width: $site-width;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    &.full {
        max-width: 100%;
    }
}

/* Header */
.site-header {
    border-bottom: 5px solid $black;
    background: $white;
    padding: 35px 3%;
}

.logo {
    display: inline-block;
    width: 17rem;

    img {
        width: 100%;
        height: auto;
    }
}

.nav-toggle {
    background: none;
    border: none;
    padding: 0;
    margin: 0.4rem 5rem 0 0;
    float: left;
    outline: none;
    transition: all 0.3s ease;

    .bar {
        display: block;
        height: 0.4rem;
        width: 4rem;
        background: $black;
        margin-bottom: 0.7rem;
    }

    &:hover {
        .bar {
            background: $pink;
        }
    }
}

/* Nav Overlay */
.nav-overlay {
    background: $black;
    position: absolute;
    top: 0;
    z-index: 99999;
    left: -100%;
    padding: 1% 3%;
    transition: left 0.5s ease;

    &.show {
        left: 0;
    }

    @include responsive("959px") {
        width: 100%;
    }


    .nav-close {
        font-family: $secondary-font;
        font-weight: 300;
        font-size: 4.3rem;
        display: inline-block;
        margin-bottom: 5rem;
    }

    ul {
        margin: 0 0 100px 0;
        padding: 0;
    }

    a {
        color: $white;
        font-size: 5.5rem;
        font-size: 4.3vh;
        font-family: $primary-font;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.3em;

        @include responsive("959px") {
            font-size: 4.8rem;
            font-size: 6vh;
        }


        &:hover {
            color: $gray;
        }
    }

    .primary-nav {
        a {
            font-size: 7rem;
            font-size: 6.2vh;

            @include responsive("959px") {
                font-size: 4.8rem;
                font-size: 10vh;
            }
        }

        li.design a:hover {
            color: $design;
        }

        li.development a:hover {
            color: $development;
        }

        li.branding a:hover {
            color: $branding;
        }
    }
}

.bg-overlay {
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: visibility 0.5s ease, opacity 0.5s ease;

    &.show {
        visibility: visible;
        opacity: 1;
    }
}

/* Home */
.home-nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        border-bottom: 5px solid $black;

        &.design a:hover {
            background: $pink;
        }

        &.branding a:hover {
            background: $orange;
        }

        &.development a:hover {
            background: $blue;
        }
    }

    a {
        display: block;
        font-size: 10.6rem;
        font-size: 5vw;
        color: $black;
        font-family: $primary-font;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.3em;
        padding: 3%;

        @include responsive("1700px") {
            font-size: 6vw;
        }


        @include responsive("1300px") {
            font-size: 7vw;
        }


        &:hover {
            color: $white;
        }
    }
}

/* Social Media Icons */
.social-media-links {
    margin: 0;
    padding: 0;

    li {
        float: left;
        list-style: none;
        margin: 0 2.4rem 0 0;
    }

    a {
        color: $white;
        font-size: 2.2rem;

        &:hover {
            color: $pink;
        }
    }
}

/* Page Content */
.site-content {
    background: $white;
}

.body-content {
    padding: 3%;
    font-family: $secondary-font;
    max-width: 80%;

    h2 {
        font-size: 5rem;
        font-weight: normal;
        text-transform: none;
    }

    p {
        font-size: 2.3rem;
    }
}

.page-title {
    font-size: 10.6rem;
    font-size: 7.6vw;
    margin: 0;
    padding: 4% 3%;
    font-family: $primary-font;
    text-transform: uppercase;
    border-bottom: 5px solid $black;
    letter-spacing: 0.2em;
    color: $white;
    background: $black;

    .page-design & {
        background: $pink;
    }
}

.full-width-list {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        line-height: 0;
    }

    a {
        color: $black;
        font-family: $primary-font;
        display: block;

        &:hover {
            background: $pink;
            color: $white;
        }
    }

    img {
        width: 100%;
        height: auto;
        border-top: 4px solid $black;
    }

    .img-container {
        background: url(../img/space.jpg) no-repeat center center;
        background-size: cover;
        width: 100%;
        padding: 12%;
        max-height: 50px;
        border-top: 4px solid $black;
    }

    h3 {
        font-size: 6rem;
        font-size: 2.8vw;
        text-transform: none;
        margin: 0;
        padding: 1% 3%;
        letter-spacing: 0.1em;
        border-top: 4px solid $black;
    }

    &.img-list {
        li {
            line-height: 0;
        }

        img, .img-container {
            border-bottom: none;
            line-height: 0;
        }
    }
}

/* Footer */
.site-footer {
    background: $black;
    color: $white;
    display: flex;
    justify-content: space-between;
    padding: 10rem 3% 3rem;

    @include responsive("700px") {
        justify-content: left;
        flex-wrap: wrap;
        padding: 4rem 3%;
    }


    .q-info {
        background: url(../img/footer-logo-o.svg) no-repeat top left;
        background-size: 16.4rem;
        padding: 4.5rem 0 0 11.8rem;
        font-size: 1rem;
        font-family: $secondary-font;
        margin-right: 160px;

        address {
            font-style: normal;
        }

        @include responsive("700px") {
            width: 100%;
            margin-bottom: 3rem;
            padding-left: 0;
            background-position: -11.8rem 0;
        }
    }

    .social-info {
        .social-media-links {
            margin-bottom: 15rem;

            @include responsive("700px") {
                margin-bottom: 5rem;
            }
        }

        p {
            font-family: $secondary-font;
        }
    }
}