body {
    height: 100%;
    background: $black;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    line-height: 1.4;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
}

.row {
    max-width: $site-width;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    &.full {
        max-width: 100%;
    }
}

/* Header */
.site-header {
    border-bottom: 5px solid $black;
    background: $white;
    padding: 35px 3%;
}

.logo {
    display: inline-block;
    width: 17rem;

    img {
        width: 100%;
        height: auto;
    }
}

.nav-toggle {
    background: none;
    border: none;
    padding: 0;
    margin: 0.4rem 5rem 0 0;
    float: left;
    outline: none;

    .bar {
        display: block;
        height: 0.4rem;
        width: 4rem;
        background: $black;
        margin-bottom: 0.7rem;
    }

    &:hover {
        .bar {
            background: $pink;
        }
    }
}

/* Nav Overlay */
.nav-overlay {
    display: none;
    background: $black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
}

.bg-overlay {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

/* Home */
.home-nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        border-bottom: 5px solid $black;

        &.design a:hover {
            background: $pink;
        }

        &.branding a:hover {
            background: $orange;
        }

        &.development a:hover {
            background: $blue;
        }
    }

    a {
        display: block;
        font-size: 10.6rem;
        font-size: 5.4vw;
        color: $black;
        font-family: $primary-font;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 2.4rem;
        padding: 3%;

        &:hover {
            color: $white;
        }
    }
}

/* Social Media Icons */
.social-media-links {
    margin: 0;
    padding: 0;

    li {
        float: left;
        list-style: none;
        margin: 0 2.4rem 0 0;
    }

    a {
        color: $white;
        font-size: 2.2rem;

        &:hover {
            color: $pink;
        }
    }
}

.site-content {
    background: $white;
}

/* Footer */
.site-footer {
    background: $black;
    color: $white;
    display: flex;
    justify-content: space-between;
    padding: 10rem 3% 3rem;

    @include responsive("700px") {
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 20%;
        padding-right: 20%;
    }


    @include responsive("450px") {
        padding: 10rem 3% 3rem;
    }


    .q-info {
        background: url(../img/footer-logo-o.svg) no-repeat top left;
        background-size: 16.4rem;
        padding: 4.5rem 0 0 11.8rem;
        font-size: 1rem;
        font-family: $secondary-font;

        address {
            font-style: normal;
        }

        @include responsive("700px") {
            margin-bottom: 5rem;
        }
    }

    .social-info {
        .social-media-links {
            margin-bottom: 15rem;
        }

        p {
            font-family: $secondary-font;
        }
    }
}