$gray: #3d393a;
$black: #000;
$white: #fff;

$branding: #e26e2c;
$design: #c9005d;
$development: #77c7c7;

$orange: $branding;
$blue: $development;
$pink: $design;

$site-width: 1200px;

$secondary-font: "proxima-nova", sans-serif;
$primary-font: "adelle", serif;