$global-font-size: 62.5%;
$global-width: rem-calc(1600);
$global-lineheight: 1.5;
$foundation-palette: (primary: #2199e8, secondary: #777, success: #3adb76, warning: #ffae00, alert: #ec5840);

$gray: #3d393a;
$black: #000;
$white: #fff;

$branding: #e26e2c;
$design: #c9005d;
$development: #77c7c7;

$orange: $branding;
$blue: $development;
$pink: $design;

$site-width: 1200px;

$secondary-font: "proxima-nova", sans-serif;
$primary-font: "adelle", serif;